-- CreateEnum
CREATE TYPE "gender" AS ENUM ('MALE', 'FEMALE');

-- CreateEnum
CREATE TYPE "GameSlot" AS ENUM ('MENS_DOUBLES', 'WOMENS_DOUBLES', 'MIXED_1', 'MIXED_2', 'TIEBREAKER');

-- CreateEnum
CREATE TYPE "MatchTiebreakerStatus" AS ENUM ('NONE', 'NEEDS_DECISION', 'REQUIRES_TIEBREAKER', 'PENDING_TIEBREAKER', 'DECIDED_POINTS', 'DECIDED_TIEBREAKER');

-- CreateEnum
CREATE TYPE "Division" AS ENUM ('INTERMEDIATE', 'ADVANCED');

-- CreateEnum
CREATE TYPE "TournamentType" AS ENUM ('TEAM_FORMAT', 'SINGLE_ELIMINATION', 'DOUBLE_ELIMINATION', 'ROUND_ROBIN', 'POOL_PLAY', 'LADDER_TOURNAMENT');

-- CreateEnum
CREATE TYPE "RegistrationStatus" AS ENUM ('OPEN', 'INVITE_ONLY', 'CLOSED');

-- CreateEnum
CREATE TYPE "RegistrationType" AS ENUM ('FREE', 'PAID');

-- CreateTable
CREATE TABLE "Club" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address1" TEXT,
    "city" TEXT,
    "region" TEXT,
    "country" TEXT NOT NULL DEFAULT 'Canada',
    "postalCode" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "description" TEXT,
    "directorId" TEXT,
    "logo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "address" TEXT,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Club_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Player" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "gender" "gender" NOT NULL,
    "clubId" TEXT NOT NULL,
    "clerkUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "firstName" TEXT,
    "lastName" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "city" TEXT,
    "region" TEXT,
    "country" TEXT DEFAULT 'Canada',
    "age" INTEGER,
    "dupr" DOUBLE PRECISION,
    "duprSingles" DOUBLE PRECISION,
    "duprDoubles" DOUBLE PRECISION,
    "clubRatingSingles" DOUBLE PRECISION,
    "clubRatingDoubles" DOUBLE PRECISION,
    "displayAge" BOOLEAN NOT NULL DEFAULT true,
    "displayLocation" BOOLEAN NOT NULL DEFAULT true,
    "birthdayYear" INTEGER,
    "birthdayMonth" INTEGER,
    "birthdayDay" INTEGER,
    "birthday" TIMESTAMPTZ(6),
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isAppAdmin" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Player_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Team" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tournamentId" TEXT NOT NULL,
    "clubId" TEXT NOT NULL,
    "captainId" TEXT,
    "division" "Division" NOT NULL DEFAULT 'INTERMEDIATE',
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "levelId" TEXT,
    "bracketId" TEXT,

    CONSTRAINT "Team_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tournament" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type" "TournamentType" NOT NULL DEFAULT 'TEAM_FORMAT',
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "maxTeamSize" INTEGER,
    "registrationStatus" "RegistrationStatus" NOT NULL DEFAULT 'CLOSED',
    "registrationType" "RegistrationType" NOT NULL DEFAULT 'FREE',
    "registrationCost" INTEGER,

    CONSTRAINT "Tournament_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TournamentAdmin" (
    "tournamentId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TournamentAdmin_pkey" PRIMARY KEY ("tournamentId","playerId")
);

-- CreateTable
CREATE TABLE "TeamPlayer" (
    "teamId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "tournamentId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TeamPlayer_pkey" PRIMARY KEY ("teamId","playerId")
);

-- CreateTable
CREATE TABLE "Stop" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tournamentId" TEXT NOT NULL,
    "clubId" TEXT,
    "startAt" TIMESTAMPTZ(6) NOT NULL,
    "endAt" TIMESTAMPTZ(6),
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eventManagerId" TEXT,
    "lineupDeadline" TIMESTAMPTZ(6),

    CONSTRAINT "Stop_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StopTeam" (
    "stopId" TEXT NOT NULL,
    "teamId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StopTeam_pkey" PRIMARY KEY ("stopId","teamId")
);

-- CreateTable
CREATE TABLE "StopTeamPlayer" (
    "stopId" TEXT NOT NULL,
    "teamId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StopTeamPlayer_pkey" PRIMARY KEY ("stopId","teamId","playerId")
);

-- CreateTable
CREATE TABLE "Round" (
    "id" TEXT NOT NULL,
    "stopId" TEXT NOT NULL,
    "idx" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Round_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Match" (
    "id" TEXT NOT NULL,
    "roundId" TEXT NOT NULL,
    "teamAId" TEXT,
    "teamBId" TEXT,
    "isBye" BOOLEAN NOT NULL DEFAULT false,
    "forfeitTeam" TEXT,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tiebreakerStatus" "MatchTiebreakerStatus" NOT NULL DEFAULT 'NONE',
    "tiebreakerWinnerTeamId" TEXT,
    "tiebreakerGameId" TEXT,
    "tiebreakerDecidedAt" TIMESTAMPTZ(6),
    "tiebreakerDecidedById" TEXT,
    "tiebreakerDecisionNotes" TEXT,
    "totalPointsTeamA" INTEGER,
    "totalPointsTeamB" INTEGER,

    CONSTRAINT "Match_new_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Game" (
    "id" TEXT NOT NULL,
    "matchId" TEXT NOT NULL,
    "slot" "GameSlot",
    "bracketId" TEXT,
    "teamAScore" INTEGER,
    "teamBScore" INTEGER,
    "teamALineup" JSONB,
    "teamBLineup" JSONB,
    "lineupConfirmed" BOOLEAN DEFAULT false,
    "courtNumber" TEXT,
    "isComplete" BOOLEAN DEFAULT false,
    "startedAt" TIMESTAMPTZ(6),
    "endedAt" TIMESTAMPTZ(6),
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "teamAScoreSubmitted" BOOLEAN DEFAULT false,
    "teamBScoreSubmitted" BOOLEAN DEFAULT false,
    "teamASubmittedScore" INTEGER,
    "teamBSubmittedScore" INTEGER,

    CONSTRAINT "Game_new_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lineup" (
    "id" TEXT NOT NULL,
    "roundId" TEXT NOT NULL,
    "teamId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "stopId" TEXT,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Lineup_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LineupEntry" (
    "id" TEXT NOT NULL,
    "lineupId" TEXT NOT NULL,
    "player1Id" TEXT NOT NULL,
    "player2Id" TEXT NOT NULL,
    "slot" "GameSlot" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LineupEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CaptainInvite" (
    "id" TEXT NOT NULL,
    "tournamentId" TEXT NOT NULL,
    "teamId" TEXT NOT NULL,
    "captainId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "usedAt" TIMESTAMPTZ(6),
    "expiresAt" TIMESTAMPTZ(6) NOT NULL,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CaptainInvite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TournamentClub" (
    "tournamentId" TEXT NOT NULL,
    "clubId" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "captainAccessToken" TEXT,

    CONSTRAINT "TournamentClub_pkey" PRIMARY KEY ("tournamentId","clubId")
);

-- CreateTable
CREATE TABLE "TournamentBracket" (
    "id" TEXT NOT NULL,
    "tournamentId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "idx" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "TournamentBracket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TournamentCaptain" (
    "tournamentId" TEXT NOT NULL,
    "clubId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TournamentCaptain_pkey" PRIMARY KEY ("tournamentId","clubId")
);

-- CreateTable
CREATE TABLE "TournamentEventManager" (
    "tournamentId" TEXT NOT NULL,
    "playerId" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TournamentEventManager_pkey" PRIMARY KEY ("tournamentId","playerId")
);

-- CreateTable
CREATE TABLE "GameScoreSubmission" (
    "id" TEXT NOT NULL,
    "gameId" TEXT NOT NULL,
    "teamId" TEXT NOT NULL,
    "teamName" TEXT,
    "reportedScore" TEXT NOT NULL,
    "submittedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GameScoreSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ClubRegistration" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address1" TEXT NOT NULL,
    "city" TEXT NOT NULL,
    "region" TEXT NOT NULL,
    "postalCode" TEXT NOT NULL,
    "phone" TEXT,
    "contactEmail" TEXT NOT NULL,
    "contactName" TEXT NOT NULL,
    "contactPhone" TEXT,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "reviewedBy" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ClubRegistration_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Player_clerkUserId_key" ON "Player"("clerkUserId");

-- CreateIndex
CREATE UNIQUE INDEX "Player_email_key" ON "Player"("email");

-- CreateIndex
CREATE INDEX "Player_clubId_idx" ON "Player"("clubId");

-- CreateIndex
CREATE INDEX "Player_birthday_idx" ON "Player"("birthdayYear", "birthdayMonth", "birthdayDay");

-- CreateIndex
CREATE INDEX "Player_firstName_idx" ON "Player"("firstName");

-- CreateIndex
CREATE INDEX "Player_lastName_idx" ON "Player"("lastName");

-- CreateIndex
CREATE INDEX "Player_clubId_gender_idx" ON "Player"("clubId", "gender");

-- CreateIndex
CREATE INDEX "Team_tournamentId_idx" ON "Team"("tournamentId");

-- CreateIndex
CREATE INDEX "Team_clubId_idx" ON "Team"("clubId");

-- CreateIndex
CREATE INDEX "Team_captainId_idx" ON "Team"("captainId");

-- CreateIndex
CREATE INDEX "Team_bracketId_idx" ON "Team"("bracketId");

-- CreateIndex
CREATE INDEX "Team_levelId_idx" ON "Team"("levelId");

-- CreateIndex
CREATE INDEX "ix_Team_tournamentId" ON "Team"("tournamentId");

-- CreateIndex
CREATE UNIQUE INDEX "Team_tournamentId_clubId_captainId_key" ON "Team"("tournamentId", "clubId", "captainId");

-- CreateIndex
CREATE UNIQUE INDEX "Team_tournamentId_clubId_bracketId_key" ON "Team"("tournamentId", "clubId", "bracketId");

-- CreateIndex
CREATE UNIQUE INDEX "Team_tournamentId_clubId_levelId_key" ON "Team"("tournamentId", "clubId", "levelId");

-- CreateIndex
CREATE INDEX "TeamPlayer_tournamentId_idx" ON "TeamPlayer"("tournamentId");

-- CreateIndex
CREATE INDEX "ix_teamplayer_player" ON "TeamPlayer"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "uq_TeamPlayer_team_player" ON "TeamPlayer"("teamId", "playerId");

-- CreateIndex
CREATE INDEX "Stop_tournamentId_idx" ON "Stop"("tournamentId");

-- CreateIndex
CREATE INDEX "Stop_clubId_idx" ON "Stop"("clubId");

-- CreateIndex
CREATE INDEX "Stop_eventManagerId_idx" ON "Stop"("eventManagerId");

-- CreateIndex
CREATE INDEX "Stop_endAt_idx" ON "Stop"("endAt");

-- CreateIndex
CREATE INDEX "Stop_startAt_idx" ON "Stop"("startAt");

-- CreateIndex
CREATE INDEX "ix_Stop_tournamentId" ON "Stop"("tournamentId");

-- CreateIndex
CREATE INDEX "ix_StopTeamPlayer_player" ON "StopTeamPlayer"("playerId");

-- CreateIndex
CREATE INDEX "ix_StopTeamPlayer_team" ON "StopTeamPlayer"("teamId");

-- CreateIndex
CREATE INDEX "StopTeamPlayer_stopId_teamId_idx" ON "StopTeamPlayer"("stopId", "teamId");

-- CreateIndex
CREATE INDEX "StopTeamPlayer_stopId_playerId_idx" ON "StopTeamPlayer"("stopId", "playerId");

-- CreateIndex
CREATE INDEX "ix_round_stop" ON "Round"("stopId");

-- CreateIndex
CREATE UNIQUE INDEX "Round_stopId_idx_key" ON "Round"("stopId", "idx");

-- CreateIndex
CREATE UNIQUE INDEX "Match_tiebreakerGameId_key" ON "Match"("tiebreakerGameId");

-- CreateIndex
CREATE INDEX "Match_roundId_idx" ON "Match"("roundId");

-- CreateIndex
CREATE INDEX "Match_teamAId_idx" ON "Match"("teamAId");

-- CreateIndex
CREATE INDEX "Match_teamBId_idx" ON "Match"("teamBId");

-- CreateIndex
CREATE INDEX "Match_tiebreakerWinnerTeamId_idx" ON "Match"("tiebreakerWinnerTeamId");

-- CreateIndex
CREATE INDEX "Match_roundId_isBye_idx" ON "Match"("roundId", "isBye");

-- CreateIndex
CREATE INDEX "Match_tiebreakerStatus_idx" ON "Match"("tiebreakerStatus");

-- CreateIndex
CREATE INDEX "Game_matchId_idx" ON "Game"("matchId");

-- CreateIndex
CREATE INDEX "Game_bracketId_idx" ON "Game"("bracketId");

-- CreateIndex
CREATE INDEX "Game_isComplete_startedAt_idx" ON "Game"("isComplete", "startedAt");

-- CreateIndex
CREATE INDEX "Game_courtNumber_idx" ON "Game"("courtNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Game_matchId_slot_bracketId_key" ON "Game"("matchId", "slot", "bracketId");

-- CreateIndex
CREATE INDEX "Lineup_teamId_idx" ON "Lineup"("teamId");

-- CreateIndex
CREATE UNIQUE INDEX "Lineup_roundId_teamId_key" ON "Lineup"("roundId", "teamId");

-- CreateIndex
CREATE INDEX "LineupEntry_player1Id_slot_idx" ON "LineupEntry"("player1Id", "slot");

-- CreateIndex
CREATE INDEX "LineupEntry_player2Id_slot_idx" ON "LineupEntry"("player2Id", "slot");

-- CreateIndex
CREATE UNIQUE INDEX "LineupEntry_lineupId_slot_key" ON "LineupEntry"("lineupId", "slot");

-- CreateIndex
CREATE UNIQUE INDEX "CaptainInvite_token_key" ON "CaptainInvite"("token");

-- CreateIndex
CREATE INDEX "captaininvite_tournament_team_idx" ON "CaptainInvite"("tournamentId", "teamId");

-- CreateIndex
CREATE UNIQUE INDEX "TournamentClub_captainAccessToken_key" ON "TournamentClub"("captainAccessToken");

-- CreateIndex
CREATE INDEX "TournamentClub_clubId_idx" ON "TournamentClub"("clubId");

-- CreateIndex
CREATE INDEX "TournamentBracket_tournamentId_idx" ON "TournamentBracket"("tournamentId", "idx");

-- CreateIndex
CREATE UNIQUE INDEX "TournamentBracket_tournamentId_name_key" ON "TournamentBracket"("tournamentId", "name");

-- CreateIndex
CREATE INDEX "TournamentCaptain_playerId_idx" ON "TournamentCaptain"("playerId");

-- CreateIndex
CREATE UNIQUE INDEX "TournamentCaptain_tournamentId_playerId_key" ON "TournamentCaptain"("tournamentId", "playerId");

-- CreateIndex
CREATE INDEX "TournamentEventManager_playerId_idx" ON "TournamentEventManager"("playerId");

-- CreateIndex
CREATE INDEX "GameScoreSubmission_gameId_idx" ON "GameScoreSubmission"("gameId");

-- CreateIndex
CREATE INDEX "GameScoreSubmission_teamId_idx" ON "GameScoreSubmission"("teamId");

-- AddForeignKey
ALTER TABLE "Club" ADD CONSTRAINT "Club_directorId_fkey" FOREIGN KEY ("directorId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Player" ADD CONSTRAINT "Player_clubId_fkey" FOREIGN KEY ("clubId") REFERENCES "Club"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Team" ADD CONSTRAINT "Team_bracketId_fkey" FOREIGN KEY ("bracketId") REFERENCES "TournamentBracket"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Team" ADD CONSTRAINT "Team_captainId_fkey" FOREIGN KEY ("captainId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Team" ADD CONSTRAINT "Team_clubId_fkey" FOREIGN KEY ("clubId") REFERENCES "Club"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Team" ADD CONSTRAINT "Team_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TournamentAdmin" ADD CONSTRAINT "TournamentAdmin_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TournamentAdmin" ADD CONSTRAINT "TournamentAdmin_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TeamPlayer" ADD CONSTRAINT "TeamPlayer_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TeamPlayer" ADD CONSTRAINT "TeamPlayer_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TeamPlayer" ADD CONSTRAINT "TeamPlayer_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Stop" ADD CONSTRAINT "Stop_clubId_fkey" FOREIGN KEY ("clubId") REFERENCES "Club"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Stop" ADD CONSTRAINT "Stop_eventManagerId_fkey" FOREIGN KEY ("eventManagerId") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Stop" ADD CONSTRAINT "Stop_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "StopTeam" ADD CONSTRAINT "StopTeam_stopId_fkey" FOREIGN KEY ("stopId") REFERENCES "Stop"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "StopTeam" ADD CONSTRAINT "StopTeam_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "StopTeamPlayer" ADD CONSTRAINT "StopTeamPlayer_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "StopTeamPlayer" ADD CONSTRAINT "StopTeamPlayer_stopId_fkey" FOREIGN KEY ("stopId") REFERENCES "Stop"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "StopTeamPlayer" ADD CONSTRAINT "StopTeamPlayer_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Round" ADD CONSTRAINT "Round_stopId_fkey" FOREIGN KEY ("stopId") REFERENCES "Stop"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Match" ADD CONSTRAINT "Match_new_roundId_fkey" FOREIGN KEY ("roundId") REFERENCES "Round"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Match" ADD CONSTRAINT "Match_new_teamAId_fkey" FOREIGN KEY ("teamAId") REFERENCES "Team"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Match" ADD CONSTRAINT "Match_new_teamBId_fkey" FOREIGN KEY ("teamBId") REFERENCES "Team"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Match" ADD CONSTRAINT "Match_tiebreakerDecidedById_fkey" FOREIGN KEY ("tiebreakerDecidedById") REFERENCES "Player"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Match" ADD CONSTRAINT "Match_tiebreakerGameId_fkey" FOREIGN KEY ("tiebreakerGameId") REFERENCES "Game"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Match" ADD CONSTRAINT "Match_tiebreakerWinnerTeamId_fkey" FOREIGN KEY ("tiebreakerWinnerTeamId") REFERENCES "Team"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Game" ADD CONSTRAINT "Game_new_matchId_fkey" FOREIGN KEY ("matchId") REFERENCES "Match"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Game" ADD CONSTRAINT "Game_bracketId_fkey" FOREIGN KEY ("bracketId") REFERENCES "TournamentBracket"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lineup" ADD CONSTRAINT "Lineup_roundId_fkey" FOREIGN KEY ("roundId") REFERENCES "Round"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lineup" ADD CONSTRAINT "Lineup_stopId_fkey" FOREIGN KEY ("stopId") REFERENCES "Stop"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lineup" ADD CONSTRAINT "Lineup_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineupEntry" ADD CONSTRAINT "LineupEntry_lineupId_fkey" FOREIGN KEY ("lineupId") REFERENCES "Lineup"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineupEntry" ADD CONSTRAINT "LineupEntry_player1Id_fkey" FOREIGN KEY ("player1Id") REFERENCES "Player"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LineupEntry" ADD CONSTRAINT "LineupEntry_player2Id_fkey" FOREIGN KEY ("player2Id") REFERENCES "Player"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CaptainInvite" ADD CONSTRAINT "CaptainInvite_captainId_fkey" FOREIGN KEY ("captainId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CaptainInvite" ADD CONSTRAINT "CaptainInvite_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "Team"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CaptainInvite" ADD CONSTRAINT "CaptainInvite_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TournamentClub" ADD CONSTRAINT "TournamentClub_clubId_fkey" FOREIGN KEY ("clubId") REFERENCES "Club"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TournamentClub" ADD CONSTRAINT "TournamentClub_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TournamentBracket" ADD CONSTRAINT "TournamentBracket_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TournamentCaptain" ADD CONSTRAINT "TournamentCaptain_clubId_fkey" FOREIGN KEY ("clubId") REFERENCES "Club"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TournamentCaptain" ADD CONSTRAINT "TournamentCaptain_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TournamentCaptain" ADD CONSTRAINT "TournamentCaptain_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TournamentEventManager" ADD CONSTRAINT "TournamentEventManager_playerId_fkey" FOREIGN KEY ("playerId") REFERENCES "Player"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TournamentEventManager" ADD CONSTRAINT "TournamentEventManager_tournamentId_fkey" FOREIGN KEY ("tournamentId") REFERENCES "Tournament"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GameScoreSubmission" ADD CONSTRAINT "GameScoreSubmission_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES "Game"("id") ON DELETE CASCADE ON UPDATE CASCADE;

